<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: pink;
        }
        h1 {
            color: red;
        }
        a {
            text-decoration: none;
            color: blue;
        }

    </style>
    <title><%= title %></title>
</head>
<body>
    <h1><%= message %></h1>
    <a href="/">Go Home</a>
</body>
</html>
